* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: bold;
}

body {
    background-color: #171717;
    color: #d4d4d4;
}

main {
    margin-left: 80px;
}

/* header styling */

header {
    position: absolute;
    display: flex;
    flex-direction: column;
}

header .logo {
    margin: 20px;
    margin-bottom: 50px;
}

header i {
    margin: 10px 0;
    padding: 5px;
    padding-left: 20px;
}

header .bell-icon {
    position: fixed;
    bottom: 20px;
}

.selected {
    color: red;
}

.selected::after {
    content: "";
    position: relative;
    right: 43px;
    border-left: 6px solid red;
    border-radius: 12px;
}

/* top section styling */

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #171717;
    border: 1px solid white;
    border-radius: 3px;
    margin-top: 10px;
}

/* On mouse-over, add a grey background color */

.checkbox-container:hover input~.checkmark {
    background-color: #242424;
}

/* When the checkbox is checked, add a blue background */

.checkbox-container input:checked~.checkmark {
    background-color: #171717;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */

.checkbox-container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */

.checkbox-container .checkmark:after {
    left: 6px;
    top: 0px;
    width: 4px;
    height: 10px;
    border: solid white;
    border-width: 0px 1px 1px 0px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.search-bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar-container p {
    padding: 10px;
}

.search-bar input {
    background-color: #242424;
    width: 400px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 2px;
    padding-left: 10px;
}

.search-bar button {
    background-color: #242424;
    border: none;
    color: #d4d4d4;
    position: relative;
    right: 28px;
}

.total-carted {
    display: flex;
    margin-top: 20px;
}

.total-carted i, .total-carted p {
    padding: 5px
}

.total-carted p {
    margin-right: 15px;
}

/* table styling */

.table-container{
    overflow-y: scroll;
    height: 65%;
}

table {
    width: 99%;
    border-collapse: separate;
    border-spacing: 0 10px;
    border-radius: 10px;
}

table th {
    text-align: left;
    padding-bottom: 10px;
    background-color: #171717;
}

table tr {
    background-color: #242424;
}

table td, table th {
    padding: 10px;
}

table tr td{
    margin: 10px;
}

table tr td:nth-child(3){
    width: 10%;
}

.table-container::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.table-container::-webkit-scrollbar-track {
    background-color: #242424;
    border-radius: 10px;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: gainsboro;
    border-radius: 10px;
}

table .green-status{
    color: rgb(77, 240, 77);
}

table .orange-status{
    color: orange;
}

table .red-status{
    color: red;
}

table td button {
    background-color: #242424;
    border: none;
    color: white;
    padding: 0 10px;
}

/* bottom section styling */

.bottom-section{
    width: 92%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 30px;
}

.bottom-section button{
    background-color: #171717;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 4px;
}

.function-buttons1 button{
    border: 2px solid red;
}

.function-buttons2 button{
    border: 2px solid white;
}


/* footer styling */

footer {
    background-color: #242424;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    position: fixed;
    bottom: 2px;
    width: 100%;
}

footer p {
    flex: 1;
    padding: 2px;
    padding-left: 15px;
    font-size: 12px;
}